USE [master]
GO
/****** Object:  Database [Euromobilia]    Script Date: 08/03/2022 5:18:37 PM ******/
CREATE DATABASE [Euromobilia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Euromobilia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Euromobilia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Euromobilia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Euromobilia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Euromobilia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Euromobilia]
GO
/****** Object:  Table [dbo].[IN04]    Script Date: 08/03/2022 5:18:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IN04](
	[CodigoProducto] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[SaldoInventario] [decimal](18, 2) NOT NULL,
	[FechaIngreso] [datetime] NOT NULL,
	[UsuarioIngreso] [varchar](50) NOT NULL,
	[IDFamilia] [int] NOT NULL,
 CONSTRAINT [PK_IN04] PRIMARY KEY CLUSTERED 
(
	[CodigoProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IN05]    Script Date: 08/03/2022 5:18:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IN05](
	[IDFamilia] [int] NOT NULL,
	[NombreFamilia] [varchar](50) NOT NULL,
	[UsuarioIngreso] [varchar](50) NOT NULL,
	[Estado] [int] NOT NULL,
 CONSTRAINT [PK_IN05] PRIMARY KEY CLUSTERED 
(
	[IDFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IN04]  WITH CHECK ADD  CONSTRAINT [FK_IN04_IN05] FOREIGN KEY([IDFamilia])
REFERENCES [dbo].[IN05] ([IDFamilia])
GO
ALTER TABLE [dbo].[IN04] CHECK CONSTRAINT [FK_IN04_IN05]
GO
USE [master]
GO
